/* general settings Oscar Herrera */
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

body{margin:0; padding: 0; overflow-x: hidden; font-family: 'Libre Franklin', sans-serif; opacity: 0;}
a, a:hover, a:visited{color: inherit; text-decoration: none;}
.form-control{font-size:19px; color:#BBBBBB; background-color:#fff; border-radius:0; width:100%; outline:none; padding: 6px 6px; box-shadow: none;
  height: 40px;
}
.form-control:hover, .form-control:focus{color:#BBBBBB; }
.form-control:focus {outline: none; box-shadow: 1px 1px 5px rgba(0,0,0,0.1); color:#58595B;}
textarea{resize: none; padding: 8px; height: 183px;}
input[type=checkbox]{width: 18px; height: 18px;}

/* header */
.navbar-default {background-color: #fff; border-color: #fff; margin-bottom: 0;}
.logo{display: inline-block; margin-top: 28px; position: relative; z-index: 1;}
.collapse.navbar-collapse{position: relative; top: -55px;}
.navbar-default .navbar-nav>li>a{color: #8A8C8A; font-size: 18px;}
.navbar-default .navbar-nav>li:nth-child(1)>a{ border-bottom:6px solid #D8AE4B;}
.navbar-default .navbar-nav>li:nth-child(2)>a{ border-bottom:6px solid #C96F39;}
.navbar-default .navbar-nav>li:nth-child(3)>a{ border-bottom:6px solid #2D506D;}
.navbar-default .navbar-nav>li:nth-child(4)>a{ border-bottom:6px solid #B3B3B3;}
.navbar-default .navbar-nav>li:nth-child(5)>a{ border-bottom:6px solid #4E4E4E;}
.navbar-default .navbar-nav>li:nth-child(6)>a{ border-bottom:6px solid #898A88;}

/* sliderHome */
.sliderHome{margin:0; padding: 0;}
.owl-carousel{z-index: 0;}
#sliderHome img, #sliderArticle img{width:100%; height: auto; display: block; margin: auto;}

#sliderHome .sldrHomImg{width:100%; height:490px; background-position:center!important; background-repeat:no-repeat!important; background-size: cover!important;
  -webkit-background-size: cover!important; -moz-background-size: cover!important; -o-background-size: cover!important;
}

.sliderHome img:hover{opacity: 1;}
/*#sliderHome{left: -45px;}*/

.sliderHome .owl-dots{width: auto; margin:-30px auto; display: block; text-align: center;}
.sliderHome .owl-carousel .owl-controls .owl-dot{
    width:12px; height:12px; background:#fff; display:inline-block; margin:0 10px; cursor:hand; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; border-radius:50%; 
    -ms-user-select: none; user-select: none; filter: Alpha(Opacity=50); opacity: 0.5;
 }
.sliderHome .owl-carousel .owl-controls .owl-dot:hover, .sliderHome .owl-carousel .owl-controls .owl-dot.active{
    filter: Alpha(Opacity=90); opacity: 0.9; background: #08395F;
}

#sliderHome .owl-controls, #sliderArticle .owl-controls{top: 40%; position: absolute; width: 100%;}
#sliderHome .owl-controls div, #sliderArticle .owl-controls div{font-size: 0; color: #transparent;}
#sliderHome .owl-controls .owl-prev, #sliderArticle .owl-controls .owl-prev{width: 70px; height: 70px; float: left; background:rgba(0,0,0,0.5) url('../images/general/prev.png')center no-repeat;}
#sliderHome .owl-controls .owl-next, #sliderArticle .owl-controls .owl-next{width: 70px; height: 70px; float: right; background:rgba(0,0,0,0.5) url('../images/general/next.png')center no-repeat;}

/* text-img */
.text-img h1{color:#2D506D; font-size: 21px; font-weight: bold;}
.text-img span{display: block; font-size: 16px; color: #4E4E4E; text-align: justify;}
.text-img .col-md-4 img{display: block; margin: auto;}

/* grid */
.grid .col-md-4{margin-bottom:90px; cursor: pointer;}
.grid .col-md-4 p{font-size: 18px; width: 100%; background:#4E4E4E; padding: 5px 0; color: #fff; margin-bottom: 0;}
.grid .col-md-4 div{display: inline-block; position: relative; width: 100%;}
.grid .col-md-4 div i{display: block; position: absolute; bottom: 0; width: 100%; height: 110px; background:rgba(45,80,109,0.6); font-style: normal; text-align: center; visibility: hidden;}
.grid .col-md-4 div i b{display: block; color: #fff; font-size: 62px; font-weight: bold;}
.grid .col-md-4 div img{width: 100%; display: block; margin:0 auto;}
.grid .col-md-4 span{display: block; padding: 10px; font-size: 13px; color: #2D506D; background:#F1F1F2; margin: 0; position: relative; top: -5px;}
.grid .col-md-4:hover div i{visibility: visible;}


/* footer */
.preFooter{}
.preFooter .col-md-12{width:100%; min-height:246px; background-position:center!important; background-repeat:no-repeat!important; background-size: cover!important;
  -webkit-background-size: cover!important; -moz-background-size: cover!important; -o-background-size: cover!important; height: auto; padding-bottom: 30px;
}
.preFooter .col-md-2 a{display: block;}
.preFooter .col-md-2 a:hover{opacity: 0.8;}
.preFooter .col-md-2 img{display: block; width:119px; margin: auto;}
.preFooter .col-md-2 h2{color:#fff; font-size: 38px; text-align: center; width: 100%;}

footer{display:block; width:100%; min-height:30px; padding:10px 0; background:#EFB526;}
footer h5{color: #004F6E; font-size: 11px; position: relative; top: 3px;}
footer .col-md-2{text-align: right;}
footer .col-md-2 a{}
footer .col-md-2 a:hover{opacity: 0.8;}

.bgGray100{display: block; width: 100%; background:#E6E6E7; padding: 30px 0 40px 0;}



/* ************************************************** MEDEIA QIERIES ************************************************** */

@media only screen and (min-width: 1024px) and (max-width: 1279px) {

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* footer */
  footer .col-md-2{text-align: center;}
  footer h5{text-align: center;}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* header */
  .logo{margin-top: 8px;}
  .logo img{width: 180px;}
  .navbar-header{position: relative; top: -41px;}
  .collapse.navbar-collapse {top: -25px;}

  /* sliderHome */
  #sliderHome .sldrHomImg{height: 150px;}
  #sliderHome .owl-controls .owl-prev, #sliderArticle .owl-controls .owl-prev{width: 50px; height: 50px;}
  #sliderHome .owl-controls .owl-next, #sliderArticle .owl-controls .owl-next{width: 50px; height: 50px;}

  /* footer */
  footer .col-md-2{text-align: center;}
  footer h5{text-align: center;}
}

@media only screen and (max-width: 479px) {
  /* header */
  .logo{margin-top: 8px;}
  .logo img{width: 180px;}
  .navbar-header{position: relative; top: -41px;}
  .collapse.navbar-collapse {top: -25px;}

  /* sliderHome */
  #sliderHome .sldrHomImg{height: 150px;}
  #sliderHome .owl-controls .owl-prev, #sliderArticle .owl-controls .owl-prev{width: 50px; height: 50px;}
  #sliderHome .owl-controls .owl-next, #sliderArticle .owl-controls .owl-next{width: 50px; height: 50px;}

  /* text-img */
  .text-img .col-md-4 img{width: 100%;}

  /* footer */
  footer .col-md-2{text-align: center;}
  footer h5{text-align: center;}
}
